{% extends 'base.html.twig' %}

{% block title %}Program index{% endblock %}

{% block body %}

    {% include '/admin/layouts/_admin_navbar.html.twig' %}

    <section class="adminList">

        <h1>Index des Séries</h1>

        <button class="btn btn-dark"><a href="{{ path('app_program_new') }}">Ajouter</a></button>

        <div class="adminTable">
            <table class="table">
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Catégorie</th>
                        <th>Synopsis</th>
                        <th>URL Affiche</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for program in programs %}
                    <tr>
                        <td>{{ program.title }}</td>
                        <td>{{ program.category.name }}</td>
                        <td>{{ program.synopsis }}</td>
                        <td>{{ program.poster }}</td>
                        <td>
                            <button class="btn btn-dark"><a href="{{ path('app_program_show', {'programSlug': program.slug}) }}">Afficher</a></button>
                            <button class="btn btn-dark"><a href="{{ path('app_program_edit', {'programSlug': program.slug}) }}">Éditer</a></button
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">Aucun résultat</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </section>

{% endblock %}
