{% extends 'base.html.twig' %}

{% block title %}Episode index{% endblock %}

{% block body %}

    {% include '/admin/layouts/_admin_navbar.html.twig' %}

    <section class="adminList">

        <h1>Index des Épisodes</h1>

        <button class="btn btn-dark"><a href="{{ path('app_episode_new') }}">Ajouter</a></button>

        <div class="adminTable">

            <table class="table">
                <thead>
                    <tr>
                        <th>Série</th>
                        <th>Saison</th>
                        <th>Épisode</th>
                        <th>Titre</th>
                        <th>Synopsis</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for episode in episodes %}
                    <tr>
                        <td>{{ episode.season.program.title }}</td>
                        <td>{{ episode.season.number }}</td>
                        <td>{{ episode.number }}</td>
                        <td>{{ episode.title }}</td>
                        <td>{{ episode.synopsis }}</td>
                        <td>
                            <button class="btn btn-dark"><a href="{{ path('app_episode_show', {'id': episode.id}) }}">Afficher</a></button>
                            <button class="btn btn-dark"><a href="{{ path('app_episode_edit', {'id': episode.id}) }}">Éditer</a></button>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">Aucun résultat</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>

    </section>

{% endblock %}
