{% extends 'base.html.twig' %}

{% block title %}Actor index{% endblock %}

{% block body %}
    {% include '/admin/layouts/_admin_navbar.html.twig' %}

    <section class="adminList">

        <h1>Actor index</h1>

        <button class="btn btn-dark"><a href="{{ path('app_actor_new') }}">Ajouter</a></button>

        <div class="adminTable">

            <table class="table">
                <thead>
                    <tr>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>BirthDate</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for actor in actors %}
                    <tr>
                        <td>{{ actor.firstname }}</td>
                        <td>{{ actor.lastname }}</td>
                        <td>{{ actor.birthDate ? actor.birthDate|date('Y-m-d') : '' }}</td>
                        <td>
                            <button class="btn btn-dark"><a href="{{ path('app_actor_show', {'id': actor.id}) }}">Afficher</a></button>
                            <button class="btn btn-dark"><a href="{{ path('app_actor_edit', {'id': actor.id}) }}">Éditer</a></button>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">Aucun résultat</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </section>

{% endblock %}
