{% extends 'base.html.twig' %}

{% block title %}Index des Catégories{% endblock %}

{% block body %}

    {% include '/admin/layouts/_admin_navbar.html.twig' %}

    <section class="adminList">

        <h1>Category index</h1>

        <button class="btn btn-dark"><a href="{{ path('app_category_new') }}">Ajouter</a></button>

        <div class="adminTable">

            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Catégorie</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                    <tr>
                        <td>{{ category.id }}</td>
                        <td>{{ category.name }}</td>
                        <td>
                            <button class="btn btn-dark"><a href="{{ path('app_category_show', {'id': category.id}) }}">Afficher</a></button>
                            <button class="btn btn-dark"><a href="{{ path('app_category_edit', {'id': category.id}) }}">Éditer</a></button>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">Aucun résultat</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>

    </section>


{% endblock %}
