{% extends 'base.html.twig' %}

{% block title %}Admin - Saison{% endblock %}

{% block body %}

    {% include '/admin/layouts/_admin_navbar.html.twig' %}

    <section class="adminList">

        <h1>Saison</h1>

        <div class="container d-inline">
            <button class="btn btn-dark"><a class="text-light text-decoration-none" href="{{ path('app_season_index') }}">Retour</a></button>
            <button class="btn btn-dark"><a class="text-light text-decoration-none" href="{{ path('app_season_edit', {'id': season.id}) }}">Modifier</a></button>
        </div>

        <div class="adminTable">

            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ season.id }}</td>
                    </tr>
                    <tr>
                        <th>Série</th>
                        <td>{{ season.program.title }}</td>
                    </tr>

                    <tr>
                        <th>Saison</th>
                        <td>{{ season.number }}</td>
                    </tr>
                    <tr>
                        <th>Année</th>
                        <td>{{ season.year }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ season.description }}</td>
                    </tr>
                </tbody>
            </table>

        </div>

    </section>

    {{ include('/admin/season/_delete_form.html.twig') }}
{% endblock %}
