{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}

{% include 'public/layouts/_user_navbar.html.twig' %}

    <main>

        <div class="detailCard">
            <div class="detailTitle">
                <h3>{{ program.title }}</h3>
                <p>Catégorie : {{ program.category.name }}</p>
                <img src="{{ program.poster }}">
                <select class="form-select text-light bg-dark w-75 m-auto mt-3"
                        onchange="location = this.value;">
                    <option selected>Sélectionner une saison</option>
                {% for season in program.seasons %}
                    <option value="/program/{{ program.slug }}/season/{{ season.id }}">Saison {{ season.number }}</option>
                {% endfor %}
                </select>
                <p class="mt-3 text-light">Liste des acteurs</p>
                    <ul class="list-unstyled">
                    {% for actor in program.actors %}
                        <li><a class="text-secondary text-decoration-none" href="/actor/show/{{actor.id}}">{{ actor.firstname ~ ' ' ~ actor.lastname }}</a></li>
                    {% endfor %}
                    </ul>
            </div>
            <p class="detailText">{{ program.synopsis }}</p>
        </div>
        <div class="button text-center mt-3">
            <button class="btn btn-dark"><a class="text-light text-decoration-none"href="/program/">Retour</a></button>
        </div>


    </main>

{% endblock %}